.war {
text-align: center;
color: black;
background: gray;
}
.stor {
text-align: center;

}
.cnop1 {
 text-align: center;
color: red;
margin: 20px;

}
.bodia {
text-align: center;
background: black

}
.fot {
 background: gray;

}
.lols {
    color: white;
}